# KuCoin API Credentials
KUCOIN_API_KEY=
KUCOIN_API_SECRET=
KUCOIN_API_PASSPHRASE=

# Tatum API Key & Solana RPC for Solana integration
VITE_TATUM_API_KEY=
VITE_RPC_URL=
VITE_WS_RPC_URL=

# Telegram Bot Integration
TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_USERNAME=
VITE_TELEGRAM_BOT_TOKEN=
VITE_TELEGRAM_BOT_USERNAME=

